<div class="jumbotron center">
    <h1>
    	<span class="woof"><a href="https://www.youtube.com/watch?v=cXSUQcQcxqY" alt="welpe bellt">Woof.</a></span>
    	<span class="guau"><a href="https://www.youtube.com/watch?v=1PrRjMnaMX4" alt="perrito ladrando">Guau.</a></span>
    	<span class="wau"><a href="https://www.youtube.com/watch?v=PpBU3DhU_pQ" alt="welpe bellt">Wau.</a></span></h1>
     <p>
       <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>  
</div>